'.source.puppet':
  'editor':
    'commentStart': '# '
    'completions': [
      'backup'
      'command'
      'content'
      'enable'
      'ensure'
      'group'
      'mode'
      'name'
      'owner'
      'path'
      'provider'
      'recurse'
      'refresh'
      'refreshonly'
      'source'
      'unless'
    ]
    'increaseIndentPattern': '''(?x)
        :\\s*$
      | \\{\\s*$
      | \\[\\s*$'''
    'decreaseIndentPattern': '''(?x)
        ^\\s*\\}
      | ^\\s*\\]'''
